@import url('goods.css');
@import url('dropdown.css');

* {
    font-family: 'Play', sans-serif;
}

.container {
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #c3f8e4;
    color: #104b50;
}

p {
    font-size: 22px;
}